<header>
  <nav>
    <ul>
      <li><a routerLink="/" (click)="navigateTo('/')">Home</a></li>
      <li *ngIf="isLoggedIn" style="margin-left:auto;"><a  routerLink="/" (click)="logout()">Logout</a></li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet> <!-- This will render the active route component -->
</main>

<footer>
  <div class="footer-content">
    <div class="social-media">
      <a href="https://www.linkedin.com/in/luanbonfim/" class="social-icon">Contact: Linkedin</a>
    </div>
    <div><p>&copy; 2025 E-commerce Platform - Luan Bonfim</p></div>
  </div>
</footer>