<div class="hero-section" *ngIf="isLoading">
  <p>Loading...</p>
</div>
<div *ngIf="!isLoggedIn && !isLoading" class="homepage-container">
  <div class="hero-section">
    <h1>Welcome to Our E-Commerce Platform</h1>
    <p>Discover the best products and services tailored just for you.</p>
  </div>
    <app-login></app-login>
</div>
<div *ngIf="isLoggedIn && !isLoading" class="logged-in-homepage--container ">
  <div class="hero-section">
    <p>Welcome back, {{ currentUser?.firstName ?  currentUser?.firstName + " " + currentUser?.lastName : currentUser?.email }}</p>
    <app-products-list></app-products-list>
  </div>
</div>